{% extends "MounirBlogBundle::layoutAdmin.html.twig" %}


{% block admin_body %}
  <h2>List des articles</h2>
  <a href="{{ path('Mounir_blog_add') }}" class="btn btn-primary">
    <i class="glyphicon glyphicon-plus"></i>
    Ajouter article
  </a>
  <br>
  <br>
  <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Titre</th>
      <th>Contenu</th>
      <th> Categorie </th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for article in listArticles %}
    <tr>
      <td>{{article.id}}</td>
      <td>{{article.titre}}</td>
      <td>{{article.contenu|markdown|striptags|slice(0, 100)|raw }} ...</td>
      <td>{{article.categorie.nom}}</td>
      <td>{{article.date|date('d/m/Y')}}</td>
      <td>
       <a href="{{ path('Mounir_blog_view', {'slug': article.slug}) }}" class="btn btn-success">
         <i class="glyphicon glyphicon-eye-open"></i>
       </a>
     </td>
      <td>
        <a href="{{ path('Mounir_blog_edit', {'slug': article.slug}) }}" class="btn btn-default">
          <i class="glyphicon glyphicon-edit"></i></a></span>

      </td>
      <td>
       <a href="{{ path('Mounir_blog_delete', {'slug': article.slug}) }}" class="btn btn-danger">
         <i class="glyphicon glyphicon-trash"></i>
       </a>
     </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<div class="navigation text-center">
      {{ knp_pagination_render(listArticles) }}
</div>

{% endblock %}
